/* navbar */
#top-nav {
    background-color: #daac00 !important;
    padding: 0% 5%;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 500;
    padding-left: 25px;
}

#searchbox {
    background-color: #e4ca6d;
    border-radius: 0px;
    border: none;
    box-shadow: 3px 3px 3px;
}

#searchbox::placeholder {
    color: rgb(8, 1, 1);
}

#submitsearch {
    position: relative;
    left: -50px;
    background-color: green;
    border-radius: 0px;
}

#search-icon {
    color: white;
}

@media screen and (max-width: 992px) {
    .navbar-toggler.collapsed {
        position: static;
    }
}

@media screen and (max-width: 992px) {
    .navbar-toggler {
        position: relative;
        left: 85%;
        bottom: 265px;
    }

    #searchbox {
        margin-left: 7.5%;
    }
}

@media screen and (max-width: 350px) {
    .navbar-dark .navbar-brand {
        width: 75%;
    }
}



/* banner */
#paradiv h1 {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 992px) {
    #dogimagediv {
        position: static;
    }

    #dogimage {
        width: 100%
    }
}

@media screen and (min-width:992px) {
    #dogimagediv {
        position: relative;
        right: 30px;
    }

    #paradiv {
        z-index: 99;
    }

    #dogimage {
        height: 300px;
        margin-left: 10%;
    }
}


/* services */
@media screen and (min-width:768px) {
    #dogdocimage {
        width: 75% !important;
        align-self: center;
    }

    #rel-div {
        width: 0px;
        height: 0px;
        position: relative;
    }

    #below {
        width: 25vw;
        height: 25vw;
        background-color: #fcc302;
        position: absolute;
        bottom: -2vw;
        right: -8vw;
        z-index: -1;
    }
}

/* https: //stackoverflow.com/questions/6040005/relatively-position-an-element-without-it-taking-up-space-in-document-flow */